.aui-grid-selection-row-bg {
	background: -webkit-linear-gradient(top, #e8e8e8, #dadada) ;
	background: -webkit-linear-gradient(top, #e8e8e8, #dadada) !important;
	background: -moz-linear-gradient(top, #e8e8e8, #dadada) !important;
	background: -ms-linear-gradient(top, #e8e8e8, #dadada) !important;
	background: -o-linear-gradient(top, #e8e8e8, #dadada) !important;
	background: linear-gradient(to bottom, red, #dadada) ;
}
.aui-grid-row-check-column {
	text-align: center;
	line-height:0.5em !important;
	background: red !important;
}
.aui-grid-alternative-row-background {
    background: #ffff001795252 !important;
}
.aui-grid-row-background {
    background: #ff00801035858 !important;
}
.aui-grid-selection-row-others-bg, .aui-grid-selection-row-others-bg {

  color:black !important;
background: -webkit-linear-gradient(top, #b2caea, #5279ab) !important;
}
.aui-grid-default-header 
{ font-size : 20px !important; 
}
.aui-grid-default-footer 
{ font-size : 20px !important;  
}
.aui-grid-default-column
{ font-size : 24px !important;  
}
.wosearch_title {
    text-align: center;
    top: 0;
    position: relative;
    font-size: 250%;
    width: 60%;
    left: 0;
    /* background: #8ea9c1; */
    color: white;
    /* background-image: linear-gradient(to bottom, #a5c9ec, #3c5988); */
}

.wosearch_title_text {
    padding-top: 1.2%;
    display: inline-block;
    font-size: 145%;
    width: 100%;
    height: 100%;
    position: relative;
    /* top: 10%; */
    left: -5%;
}
.sinho_circle {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    /* background: #00d3d3; */
    font-size: 30px;
    /* text-align: center; */
    /* top: -0%; */
    /* top: 60%; */
    top: -43%;
    left: 80%;
    line-height: 200px;
    background-image: linear-gradient(to bottom, #909c92, #181918);
    float: left;
    /* right: 10%; */
    /* position: absolute; */
    position: relative;
}




.btn_screen1 {
    /* border-bottom: 5px solid #6a7d8e; */
    height: 95%;
    width: 32%;
    top: 5.9%;
    /* background-color: #8ea9c1; */
    left: 2%;
    border-radius: 0.2em;
    background-image: linear-gradient(to bottom, #a1c9ef, #6180b3);
}

.btn_screen2 {
    /* border-bottom: 5px solid #6a7d8e; */
    height: 95%;
    width: 32%;
    top: 5.9%;
    /* background-color: #8ea9c1; */
    left: 3%;
    border-radius: 0.2em;
    background-image: linear-gradient(to bottom, #a1c9ef, #6180b3);
}
.btn_screen3 {
    /* border-bottom: 5px solid #6a7d8e; */
    height: 95%;
    width: 32%;
    top: 5.9%;
    /* background-color: #8ea9c1; */
    left: 4%;
    border-radius: 0.2em;
    background-image: linear-gradient(to bottom, #a1c9ef, #6180b3);
}
.pop_up-down_button {
    top: 5%;
    /* border-bottom: 5px solid #c39b09; */
    /* background-color: #f7c613; */
    height: 95%;
    width: 92%;
    right: -5%;
    border-radius: 0.2em;
    background-image: linear-gradient(to bottom, #f5d381, #ffb613);
}
.pop_close_button2 {
    top: 3%;
    /* border-bottom: 5px solid #696967; */
    /* background-color: #a09f9b; */
    height: 95%;
    background-image: linear-gradient(to bottom, #a09e99, #383630);
    width: 92%;
    right: -5%;
    border-radius: 0.2em;
}

.move1 {
    left: 16%;
    top: 18%;
    
}
.btn-orange {
    color: #fff;
    background-color: #0F6AA0;
    border-color: #8ea9c1;
    border-radius: 20px;
    /* border-bottom: 5px solid #243233; */
    border-top: none;
    border-left: none;
    border-right: none;
    /* text-shadow: 5px 5px 20px #000000; */
    background-image: -webkit-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -moz-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -ms-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -o-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: linear-gradient(to bottom, #81B2E9, #1E55AF);
}
.btn-red {
    color: #fff;
    background-color: #797979;
    order-radius: 20px;
    border-bottom: 5px solid #4a4545;
    border-top: none;
    border-left: none;
    border-right: none;        
    border-bottom: none;
        
   background-image: -webkit-linear-gradient(top, #b9b6b6, #292b2b);
   background-image: -moz-linear-gradient(top, #b9b6b6, #292b2b);
   background-image: -ms-linear-gradient(top, #b9b6b6, #292b2b);
   background-image: -o-linear-gradient(top, #b9b6b6, #292b2b);
   background-image: linear-gradient(to bottom, #b9b6b6, #292b2b);
}
.btn-green {
    color: #fff;
    background-color: #0F6AA0;
    order-radius: 20px;
    border-bottom: 5px solid #243233;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-image: -webkit-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -moz-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -ms-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -o-linear-gradient(top, #81B2E9, #1E55AF);
   background-image: linear-gradient(to bottom, #74a6e1, #275db4);
    
}
.btn-close {
    color: #fff;
    background-color: #797979;
    /* border-color: #807d7e; */
  
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
    
   background-image: -webkit-linear-gradient(top, #b9b6b6, #292b2b);
}
.btn-search {
    color: #fff;
    background-color: #797979;
    /* border-color: #807d7e; */
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background-image: -webkit-linear-gradient(top, #99e693, #498020);

}
.btn2 {
    height: 100%;
    height: 1;
    width: 100%;
    top: 5.9%;
    left: 2%;
    border-radius: 20px;
    Â Â Â: ;
    font-family: Open Sans;
    Â Â Â: ;
    font-size: 40px;
    Â Â Â: ;
    font-weight: 100;
    box-shadow: 1px 1px 10px 0px #000000;
    -webkit-box-shadow: 1px 1px 10px 0px #000000;
    -moz-box-shadow: 1px 1px 10px 0px #000000;   
}
.btn3 {
    border-radius: 12px;
    Â Â Â: ;
    font-family: Open Sans;
    Â Â Â: ;
    font-size: 40px;
    Â Â Â: ;
    font-weight: 100;
    box-shadow: 1px 1px 10px 0px #000000;
    -webkit-box-shadow: 1px 1px 10px 0px #000000;
    -moz-box-shadow: 1px 1px 10px 0px #000000;
    position: absolute;
    /* color: white; */
    width: 15%;
    height: 88%;
    left: 85%;
    top: 7%;
}
.btn4 {
	border-radius: 12px;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 100;
    box-shadow: 1px 1px 10px 0px #000000;
    -webkit-box-shadow: 1px 1px 10px 0px #000000;
    -moz-box-shadow: 1px 1px 10px 0px #000000;
    position: absolute;
    left: 62%;
    width: 37%;
    height: 9.3%;
}
.btn5 {
	border-radius: 12px;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 100;
    box-shadow: 1px 1px 10px 0px #000000;
    -webkit-box-shadow: 1px 1px 10px 0px #000000;
    -moz-box-shadow: 1px 1px 10px 0px #000000;
    position: absolute;
    width: 20%;
    height: 22%;
}
.textblock2 {
    /* display: inline-block; */
    /* font-family: Aritadsb, sans-serif; */
    font-weight: 400;
    white-space: nowrap;
}
.containers {
	width: 100%;
	height: 100%;
	max-width: 100%;
	margin-right: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.containers.board {
	/* font-weight: bold; */
}
containers {}
.containes.table {
	border: 1px solid #fff;
}
.main_wrapper3 {
    display: inline-block;
    padding: 0;
    width: 80%;
    float: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.main_wrapper11 {
    display: inline-block;
    padding: 0;
    width: 100%;
    float: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.searchareas.h02 {
	height: 8%;
}
.popbutton {
    height: 100%;
    padding-top: 3px;
    padding-right: 30px;
    padding-left: 25px;
    float: right;
    border: 1px solid #e83939;
    background-color: #da1d21;
    box-shadow: rgba(255, 255, 255, 0.36) 0px 1px 0px 0px inset;
    transition: all 200ms ease-in-out;
    color: white;
    font-size: 200%;
    line-height: 19px;
    font-weight: 400;
    text-align: center;
}
.popbutton2 {
    height: 100%;
    padding-top: 12%;
    padding-right: 30px;
    padding-left: 25px;
    float: right;
    border: 1px solid #2d90ec;
    background-color: #045fb4;
    box-shadow: rgba(255, 255, 255, 0.36) 0px 1px 0px 0px inset;
    transition: all 200ms ease-in-out;
    color: white;
    font-size: 200%;
    line-height: 19px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    height: 5;
}
.login_text{
	position: relative;	
	height: 30%;
	width: 50%;
	font-size: 22px;	
}
.select2 {
	position: relative;
	top: 1px;
	display: inline-block;
	width: 30%;
	height: 30%;
	margin-right: auto;
	margin-left: auto;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(38, 77, 106, 0.36);
	color: #495057;
	font-size: 20px;
}
.logoimg2 {
    position: relative;
    top: 3px;
    display: block;
    width: 100%;
    /* margin-left: 30px; */
    font-size: 100px;
}
.pop_close_button {

    width:100px;

    /* background-color: #BDBDBD; */

    border: none;

    color:#fff;

    padding: 15px 0;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 15px;

    margin: 4px;

    cursor: pointer;

}
.main_detail3 {
	position: relative;
	width: 100%;
	height: 16.6%;
	border-bottom: 1px solid #fff;
	box-sizing: border-box;
}

.popbutton.big {
    height: 100%;
    margin-left: 10px;
    /* padding-top: 0px; */
    /* padding-left: inherit; */
    line-height: 100%;
    float: right;
    height: 100%;
    font-size: 170%;
}
.main_wrapper4 {
    display: inline-block;
    border-right: 1px solid #fff;
    /* padding: 0; */
    /* margin: 0; */
    width: 10%;
    float: left;
    height: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid black;
}
.main_wrapper5 {
    display: inline-block;
    /* border-left: 1px solid #fff; */
    /* border-right: 1px solid #fff; */
    padding: 0;
    margin: 0;
    width: 20%;
    float: left;
    height: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
   
}
.main_wrapper6 {
    display: inline-block;
    padding: 0;
    width: 100%;
    float: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.main_wrapper7 {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
    height: 10%;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}
.main_wrapper8 {
    display: inline-block;
    padding: 0;
    width: 85%;
    float: left;
    height: 90%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.main_wrapper9 {
    display: inline-block;
    padding: 0;
    width: 15%;
    float: left;
    height: 90%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.main_wrapper10 {
    display: inline-block;
    padding: 0;
    width: 100%;
    float: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.main_details1 {
    position: relative;
    width: 100%;
    height: 33.29%;
    /* border-bottom: 1px solid #3c3939; */
    box-sizing: border-box;
    right: 1%
}
.main_details2 {
	position: relative;
	width: 100%;
	height: 12.5%;
	border-bottom: 1px solid #fff;
	box-sizing: border-box;
}
.main_details3 {
    top: -2%;
    position: relative;
    width: 100%;
    height: 16.7%;
    box-sizing: border-box;
    top: -1.%;
}
.main_details4 {
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #84a6cc;
    box-sizing: border-box;
    /* background-color: #2b4a67; */
    background-image: linear-gradient(to bottom, #a5c9ec, #3c5988);
}
.main_details5 {
    position: relative;
    width: 100%;
    height: 33.33%;
    
    box-sizing: border-box;
}
.main_details6 {
    position: relative;
    width: 100%;
    height: 10.94%;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
.main_details7 {
    position: relative;
    width: 100%;
    height: 15%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    background-color: #c9c9c982;
}
.main_details8 {
    position: relative;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
.main_details9 {
    position: relative;
    width: 100%;
    height: 90%;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    list-style:none;
}
.main_details10 {
    position: relative;
    width: 100%;
    height: 33.29%;
    box-sizing: border-box;
}
.main_details11 {
    position: relative;
    width: 50%;
    height: 10.94%;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
.main_details12 {
    position: relative;
    width: 100%;
    height: 20%;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
.details_title1 {
	position: absolute;
	top: 0;
	width: 25%;
	height: 100%;
	border-right: 1px solid black;
	overflow-x: hidden;
	overflow-y: hidden;
}
.details_title21 {
    position: absolute;
    top: 0;
    width: 25%;
    left: 75%;
    height: 100%;
    border-right: 1px solid black;
    overflow-x: hidden;
    overflow-y: hidden;
}
.details_title2 {
		position: absolute;
	top: 0;
	left: 25%;
	width: 25%;
	height: 100%;
	
	border-right: 1px solid black;
	overflow-x: hidden;
	overflow-y: hidden;
	
}
.details_title3 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 25%;
	height: 100%;
	border-right: 1px solid black;
	border-right: 1px solid black;
	overflow-x: hidden;
	overflow-y: hidden;
}



.details_title4 {
		position: absolute;
	top: 0;
	left: 0;
	width: 75%;
	height: 100%;
	border-right: 1px solid black;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	background-color: #045FB4;
	word-break:break-all;
	
}
.details_title5 {
		position: absolute;
	top: 0;
	left: 50%;
	width: 25%;
	height: 100%;
	border-right: 1px solid black;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	word-break:break-all;
}
.details_title6 {
		position: absolute;
	top: 0;
	left: 75%;
	width: 25%;
	height: 100%;
	border-right: 1px solid black;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	word-break:break-all;
	
}
.details_title8 {
		position: absolute;
	top: 0;
	left:75%;
	width: 25%;
	height: 100%;
	border-right: 1px solid #fff;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	
}
.details_title9 {
		position: absolute;
	top: 0;
	left: 50%;
	width: 25%;
	height: 100%;
	border-right: 1px solid #fff;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	
}
.details_title10 {
		position: absolute;
	top: 0;
	left:75%;
	width: 25%;
	height: 100%;
	border-right: 1px solid #fff;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	
}
.details_title11 {
    position: relative;
    top: -2%;
    width: 20%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    float: left;
}
.details_title12 {
    position: relative;
    top: -2%;
    width: 40%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    float: left;
}
.details_title13 {
    position: relative;
    top: -2%;
    width: 40%;
    height: 100%;
    overflow-x: hidden;
    float: left;
    overflow-y: hidden;
}
.details_title14 {
    position: relative;
    /* top: 0;  
    width: 33.3%;
    height: 100%; */
    overflow-x: hidden;
    float: left;
    overflow-y: hidden;
    
    word-break:break-all;
}
.details_title15 {
    position: relative;
  /*   top: 0;
    width: 33.3%;
    height: 100%; */
    overflow-x: hidden;
    float: left;
    overflow-y: hidden;
    
    word-break:break-all;
}
.details_title16 {
    position: relative;
/*     top: 0;
    width: 33.3333333%;
    height: 100%; */
    overflow-x: hidden;
    float: left;
    overflow-y: hidden;
    
    word-break:break-all;
    /* padding: 0; */
    /* margin: 0; */
}
.details_title17 {
    position: relative;
    top: 0;
    
    width: 25%;
    height: 100%;
    overflow-x: hidden;
    float: left;
    overflow-y: hidden;
    border-right: 1px solid black;
}
.details_title18 {
    position: relative;
    overflow-x: hidden;
    float: top;
    overflow-y: hidden;

}
.details_title19 {
    position: relative;
    top: 0;
    
    width: 25%;
    height: 100%;
    overflow-x: hidden;
    float: left;
    overflow-y: hidden;
    border-right: 1px solid black;
}
.details_title20 {
    position: relative;
    top: 0;
    
    width: 25%;
    height: 100%;
    overflow-x: hidden;
    float: left;
    overflow-y: hidden;
    border-right: 1px solid black;
}
.txtOpt5{
	color: white;
	left: 10%;
    font-size: 500%;
    text-align: center;
    line-height: 2.3;
}
.txtOpt6 {
    right: -14%;
    color: #428bca;
    font-size: 300%;
    text-align: right;
    line-height: 2.3;
}
.txtOpt7 {
    color: #f9f9f9;
    font-size: 4.5em;
    text-align: center;
    line-height: 2.3;
    margin: 0;
    padding: 0;
}
.txtOpt8 {
    color: #ffffff;
    font-size: 500%;
    text-align: center;
    line-height: 2.3;
    margin: 0;
    padding: 0;
}
.txtOpt9{
	color: white;
    font-size: 400%;
    text-align: center;
    line-height: 2.3;
}
.txtOpt10 {
	color: black;
    font-size: 3.8em;
    line-height: 3.6;
}
.txtOpt11 {
    right: -14%;
    color: #f4f8fa;
    font-size: 300%;
    text-align: right;
    line-height: 2.3;
}
.txtOpt12{
	color: #353330;
    font-size: 350%;
    text-align: center;
    line-height: 1.2;
}
.details_box1 {
	position: absolute;
	top: 0;
	left: 0%;
	width: 20%;
	height: 100%;
	border-right: 1px solid black;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
	/* background-color: #8ea9c1; */
	
	background-image: -webkit-linear-gradient(top, #8ea9c1, #6196c5);
    background-image: -moz-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -ms-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -o-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: linear-gradient(to bottom, #a5c9ec, #3c5988);
}
.details_box8 {
    position: absolute;
    top: 0;
    left: 40%;
    width: 60%;
    height: 100%;
    border-right: 1px solid black;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
   font-size: 500%;
    background-color: #c9c9c982;
    /* float: left; */
}
.details_box2 {
    position: absolute;
    top: 0;
    left: 20%;
    width: 30%;
    height: 100%;
    border-right: 1px solid black;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 500%;
    background-color: #c9c9c982;
}
.details_box3 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 25%;
	height: 100%;
	border-right: 1px solid black;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
	/* background-color: #8ea9c1; */
	
	background-image: -webkit-linear-gradient(top, #8ea9c1, #6196c5);
    background-image: -moz-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -ms-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -o-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: linear-gradient(to bottom, #a5c9ec, #3c5988);
}
.details_box4 {
	position: absolute;
	top: 0;
	left: 75%;
	width: 25%;
	height: 100%;
	border-right: 1px solid black;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	font-size: 500%;
	background-color: #c9c9c982;
}
.details_box5 {
    position: absolute;
    top: 0;
    left: 20%;
    width: 80%;
    height: 100%;
    border-right: 1px solid black;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 500%;
    background-color: #c9c9c982;
    text-align: center;
    /* float: left; */
}
.details_box6 {
	position: absolute;
	top: 0;
	left: 0%;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	font-size: 3.8em;
}
.details_box7 {
    position: absolute;
    top: 0;
    left: 0%;
    width: 20%;
    height: 100%;
    border-right: 1px solid black;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 3.8em;
    /* background-color: #8ea9c1; */
    /* float: left; */
    
    background-image: -webkit-linear-gradient(top, #8ea9c1, #6196c5);
    background-image: -moz-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -ms-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -o-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: linear-gradient(to bottom, #a5c9ec, #3c5988);
}

.details_button2{
    position: absolute;
    top: 0;
    left: 20%;
    width: 30%;
    height: 100%;
    border-right: 1px solid black;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    background: #e3e3e3;
    font-size: 500%;
}
.details_button3 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 25%;       
	height: 101%;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	background: #0f9c06a8;
}
.details_button4 {
	position: absolute;
	top: 0;
	left: 75%;
	width: 25%;       
	height: 100%;

	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	background: #f30303eb;
	border-right: 1px solid black;
	
}
.loginbutton2 {
    position: absolute;
    /* left: -10%; */
    width: 200%;
    /* padding-right: 10px; */
    height: 100%;
    margin-top: 30px;
    padding-top: 20px;
    /* float: right; */
    border-radius: 3px;
    background-color: #5b93d3;
    transition: all 200ms ease-out;
    font-family: Aritadm, sans-serif;
    color: white;
    /* top: 100px; */
    font-size: 70px;
    font-weight: 400;
    left: -;
    text-align: center;
    letter-spacing: 1px;
    margin-right: 8%;
    /* left: 50px; */
    background-color: #428bca;
    top: -12%;
}
.loginbox2 {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: #2b333e;
    box-shadow: rgba(0, 0, 0, 0.18) 4px 4px 10px 0px;
    transform: translate(-50%, -50%);
    background-color: #363a3a;
    
}
.loginbutton4 {
    /* top: -62%; */
    position: relative;
    height: 100%;
    width: 100%;
    /* left: 10%; */
    top: -5%;
}
.loginbox2 {}
.textinput2 {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 80%;  
    border-color: black;
    /* background-color: Gainsboro; */
    transition: all 200ms ease;
    font-size: 120px; 
    border-style: solid;     
}
.key {
    border: solid 1px #ececef;
    background-color: #3e3b37;
    text-align: center;
    /* border-radius: 6px; */
    /* font-weight: bold; */
    color: white;
    cursor: pointer;
    font-size: 30px;
    width: 33.33333%;
    /* background-image: linear-gradient(to bottom, #b4b2b2, #323434); */
}
.Dotkey {
    border: solid 1px #1e1e1f;
    background-color: #cfe1f9;
    text-align: center;
    border-radius: 6px;
    /* font-weight: bold; */
    color: black;
    cursor: pointer;
    font-size: 30px;
    width: 33.33333%;
}
.DeleteKey {
    border: solid 1px #1e1e1f;
    background-color: #cfe1f9;
    text-align: center;
    border-radius: 6px;
    /* font-weight: bold; */
    color: black;
    cursor: pointer;
    font-size: 30px;
    width: 33.33333%;
}
.key:hover{
    background-color:#F0D060;
}
.key:active{
    background-color:black;
}
.btn{
    border:solid 1px #946046;
    text-align:center;
	border-radius:6px;
    color:black;
    cursor:pointer;
    background-color:#F0D5C8;
    width:100%;
	height:100%;
}
.btn:hover{
    background-color:#E7AB9F;
}
.btn:active{
    background-color:#E7AB9F;
}
.text.m2 {
	margin-left: -4px;
}
.slider-img2 {
    height: -webkit-fill-available;
    min-width: 100%;
    min-height: 100%;
}


@media screen and (max-width: 840px) {
    .back {
        width: 100%;
    }
}
@media screen and (max-width : 1024px) {
.loginbox2 {
	width: 500px;
}
}
@media screen and (max-height : 820px) {
.numpadPopupSaveBtnText {
    position: relative !important;
    height: 100% !important;
    width: 100% !important;
    font-size: 300% !important;
    top: % !important;
}
.numpadPopupCloseBtnText {
    font-size: 300% !important;
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
    top: -1% !important;
}
.numpadPopupResetBtnText {
    font-size: 300% !important;
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
    top: -1% !important;
    right: 19% !important;
}
.numpadPopupSaveBtn 
{
    height: 80% !important;
    width: 33% !important;
    position: relative !important;
    top: 50% !important;
    background-image: linear-gradient(to bottom, #81B2E9, #1E55AF) !important;
}	
.numpadPopupCloseBtn
{
  width: 33% !important;
   height: 80% !important;
   position: relative !important;
   top: 50% !important;
   background-image: -webkit-linear-gradient(top, #b9b6b6, #292b2b) !important;
   float: left !important;  
   right: 32.3% !important;
}	
.leftinfo2 {
    width: 25%; 
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    float: left;
    font-family: Aritadl, sans-serif;
    color: white;
    font-size: 18px;
    text-align: center;
}	
.numpadPopupResetBtn {
    width: 31.4% !important;
    height: 81% !important;
    position: relative !important;
    /* top: -110%; */ 
    background-image: -webkit-linear-gradient(top, #f3b474, #bf6009) !important;
    float: left !important;
    top: -30% !important;
}	
.topbox2 {
    display: block;
    height: 120px;
    margin-bottom: 40px;
    padding-top: 15px;    
    font-size: 50px;
    text-align: left;
}
.infobox2 {
	margin-top: 70px;
	color: #d8dce3;
	font-size: 28px;
	text-align: left;
}
.numpadPanel
{
  margin-top: 329px  !important;
  height: 5; width: 34% !important;
  height: 60% !important;
}
.numpadPanelBody
{
  height: 70% !important;
}
.numpadPanelcontent
{
  padding: unset !important;
  border: none !important;
  height: 78% !important;
  position: relative !important;
}
.numpadCalc100
 {
   height: 100% !important;
 }
.numpadCardh150
 {
   height: 145% !important;
 }
 
.numpadW33p 
 {
   width: 100% !important;
   list-style: none !important;
   position: relative !important;
   height: 30% !important;
 }
.numpadInputQtyTitle {
    font-size: 34px !important;
    position: relative !important;
    FONT-FAMILY: NONE !important;
    padding-top: -5% !important;
    top: 13% !important;
    border: 1px solid black;
    width: 40%;
    height: 73.5%;
    padding-bottom: -;
    background-image: -webkit-linear-gradient(top, #8ea9c1, #3f4141);
    background-image: linear-gradient(to bottom, #a2a1a1, #494a4a);
    color: white;
    padding-left: 8px;
    padding-top: 6px;
}
.numpadInputQtyInput1 {
    position: relative !important;
    /* top: -10% !important; */
    left: -1% !important;
    height: 75% !important;
    width: 64% !important;
    border: 1px solid black !important;
    right: 10;
    top: 12%;
    width: 56% !important;
    float: right;
}
.numpadInputQtyInput2 {
    border: none !important;
    position: absolute !important;
    width: 268px !important;
    width: 100% !important;
    height: 100% !important;
    font-size: 60px !important;
    text-align: right !important;
    padding-top: 5% !important;
    padding: unset !important;
}
.textblock2.center2 {
    position: absolute;
    left: 0%;
    top: 25%;
    width: 100%;
    height: 100%;
    font-family: Aritadm, sans-serif;
}
.numpadStyle1 {
  
}
.selectBox4 {
    top: 95%;
    left: -20%;
    position: absolute;
}
.textLang4 {
    top: -9%;
    position: relative;
    left: -12%;
}
.loginText4 {
    top: 1%;
    position: absolute;
    /* right: auto; */
    /* left: -230%; */
    font-size: 125%;
    right: 41%;
    padding-top: 3%;
    left: -%;
    left: 35%;
}
.loginbutton4 {
    position: relative;
    height: 100%;
    width: 100%;
    /* left: 74.5%; */
}
.heading3_1 {
    top: -3%;
    position: relative;
    margin-bottom: 4%;
    width: 100%;
    height: 5%;
    font-size: 70px;
    font-family: Aritadm, sans-serif;
    color: #2b333e;
    font-weight: 700;
    text-align: center;
}
.textinput2 {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 80%;  
    border-color: black;
    /* background-color: Gainsboro; */
    transition: all 200ms ease;
    font-size: 90px; 
    border-style: solid;   
}
}

.textLang4 {
    top: -2%;
    position: relative;
    left: -12%;
}
.topbox2 {
    display: block;
    height: 120px;
    margin-bottom: 40px;
    padding-top: 15px;
    
    font-size: 50px;
    text-align: left;
}
.logo-title2 {
	height: 31px;
	font-family: Varela, sans-serif;
	color: #5b93d3;
	font-size: 50px;
	font-weight: 700;
	text-align: left;
}

.blue2 {
    font-family: Varela, sans-serif;
    color: #5b93d3;
    font-size: 50px;
    font-weight: 700;
}
.text.m2 {
	margin-left: -4px;
}

.text.r7 {
    margin-right: 6px;
    float: left;
    margin-top: 20px;
}

.infobox2 {
	margin-top: 70px;
	color: #d8dce3;
	font-size: 28px;
	text-align: left;
}
.inputbox2 {
	position: relative;	
	width: 100%;
	height: 100%;
}
.inputbox2.text16 {
	width: 170px;
	margin-bottom: 10px;
	padding: 0px;
	float: left;
	color: #2b333e;
	font-size: 15px;
}
.inputbox2.check {
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #0866c6;
}

.text16_1 {
    width: 50%;
    height: 25%;
    float: left;
}
.login_text2 {
    position: relative;
    height: 50%;
    width: 100%;
    font-size: 22px;
    
}
.login_text3 {
    left: 7%;
    position: relative;
    height: 10%;
    width: 40%;
    /* top: 10%; */
    font-size: 50px;
    /* left: 5%; */
    top: 15px;
}

.select3 {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 30%;
    height: 30%;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(38, 77, 106, 0.36);
    color: #495057;
    font-size: 55px;
    /* float: left; */
    right: 6%;
}
.select4 {
    position: relative;
    top: -110%;
    display: inline-block;
    width: 30%;
    height: 30%;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(38, 77, 106, 0.36);
    color: #495057;
    font-size: 60px;
    left: 122%;
    /* float: left; */
}
.loginText4 {
    /* top: 10%; */
    position: absolute;
    /* right: auto; */
    /* left: -230%; */
    font-size: 125%;
    right: 41%;
    padding-top: 3%;
    left: -%;
}
.mom-logo2 {
    position: absolute;
    /* left: 1%; */
    top: 0px;
    width: 55%;
    height: 38px;
    float: left;
    /* border-right: 1px solid #2b333e; */
    /* background-color: #384250; */
    color: white;
    font-size: 17px;
    line-height: 36px;
    font-weight: 400;
    text-align: left;
}
.pop_screen_button:hover {
	/*  font-size: 500%; */
    /* border:solid 1px black;
 */    
}
.pop_screen_button:active {
	 font-size: 4.5em;
    background-color: #6290b9;
}

.textblock2.center3 {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    margin-top: 16%;
    font-family: Aritadm, sans-serif;
}

.textblock2.center4 {
      position: relative;
    left: 30%;
    top: 5%;
    /* height: 50%; */
    float: left;
    width: 55%;
}
.textblock2.center5 {
        position: relative;
    width: 30%;
    float: left;
    margin-right: 0.;
}
.textblock2.center6 {
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 50%;
   /*  margin-top: 16%; */
    font-family: Aritadm, sans-serif;
}
.textblock2.center7 {
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 50%;
   /*  margin-top: 16%; */
    font-family: Aritadm, sans-serif;
    float: left;
}
.textblock2.center8 {
    /* position: relative; */
    /* left: 0%; */
    border-top: 0%;
    /* margin-top: 0%; */
    /* padding-top: 0%; */
    /* top: 0%; */
    /* box-sizing: inherit; */
    width: 100%;
    height: 50%;
    border-bottom: 1px solid black;
    /* margin-top: 16%; */
    /* font-family: Aritadm, sans-serif; */
    background-color: #8ea9c1;
    color: white;
    padding-top: 3%;
    
     background-image: -webkit-linear-gradient(top, #8ea9c1, #6196c5);
    background-image: -moz-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -ms-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -o-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: linear-gradient(to bottom, #a5c9ec, #3c5988);
}
.textblock2.center9 {
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 50%;
   /*  margin-top: 16%; */
    /* font-family: Aritadm, sans-serif; */
    float: left;
    line-height: 1.6;
}
.textblock2.center10 {
    /* position: relative; */
    /* left: 0%; */
    border-top: 0%;
    /* margin-top: 0%; */
    /* padding-top: 0%; */
    /* top: 0%; */
    /* box-sizing: inherit; */
    width: 100%;
    height: 50%;
    border-bottom: 1px solid black;
    /* margin-top: 16%; */
    /* font-family: Aritadm, sans-serif; */
    background-color: #8ea9c1;
    color: white;
    padding-top: 3%;
    background-image: -webkit-linear-gradient(top, #8ea9c1, #6196c5);
    background-image: -moz-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -ms-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -o-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: linear-gradient(to bottom, #a5c9ec, #3c5988);
}
.textblock2.center11 {
    position: relative;
    left: 14%;
    top: 5%;
    width: 70%;
    /* right: 0%; */
    height: 50%;
    /* margin-top: 16%; */
    /* font-family: Aritadm, sans-serif; */
    float: left;
    line-height: 1.6;
}
.textblock2.center12 {
    /* position: relative; */
    /* left: 0%; */
    border-top: 0%;
    /* margin-top: 0%; */
    /* padding-top: 0%; */
    /* top: 0%; */
    /* box-sizing: inherit; */
    width: 100%;
    height: 50%;
    border-bottom: 1px solid black;
    /* margin-top: 16%; */
    /* font-family: Aritadm, sans-serif; */
    background-color: #8ea9c1;
    color: white;
    padding-top: 3%;
    
      background-image: -webkit-linear-gradient(top, #8ea9c1, #6196c5);
    background-image: -moz-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -ms-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -o-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: linear-gradient(to bottom, #a5c9ec, #3c5988);
}
.textblock2.center13 {
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 50%;
   /*  margin-top: 16%; */
    /* font-family: Aritadm, sans-serif; */
    float: left;
    line-height: 1.6;
}
.textblock2.center14 {
    border-top: 0%;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid black;
    background-color: #8ea9c1;
    color: white;
    padding-top: 3%;
    
    background-image: -webkit-linear-gradient(top, #8ea9c1, #6196c5);
    background-image: -moz-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -ms-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: -o-linear-gradient(top, #81B2E9, #1E55AF);
    background-image: linear-gradient(to bottom, #a5c9ec, #3c5988);
}

.textblock2.center15 {
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 50%;
   /*  margin-top: 16%; */
    /* font-family: Aritadm, sans-serif; */
    float: left;
    line-height: 1.6;
}
.pop_close_button {
    width: 100%;
    /* background-color: #BDBDBD; */
    border: none;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px;
    cursor: pointer;
    left: -2%;
}
.pop_Btn01 {
    font-size: 300%;
    color: #232322;
    background-color: #908e8670;
    font-size: 380%;
    font-family: monospace;
}

.pop_Btn01:hover {
	 
    color: #fbcf04;
    background-color: #c0c0c0;
}

.pop_Btn01:active {
	 font-size: 300%;
    color: #fbcf04;
    background-color: #ffffff;
}
.pop_Btn02 {
    font-size: 300%;
    color: #232322;
    background-color: white;
}

.pop_Btn02:hover {
	 font-size: 300%;
    color: #fbcf04;
    background-color: #c0c0c0;
}

.pop_Btn02:active {
	 font-size: 300%;
    color: #fbcf04;
    background-color: #ffffff;
}

.pop_up-down_button:active {
	 font-size: 500%;
    color: #black;
    background-color: #eca504;
}
.pop_close_button:hover {
	 font-size: 500%;
    color: #black;
    background-color: #777;
}

.pop_close_button:active {
	font-size: 500%;
    color: white;
    background-color: #555;
}
.heading3_1 {
    margin-bottom: 4%;
    width: 100%;
    height: 5%;
    font-size: 70px;
    font-family: Aritadm, sans-serif;
    color: #2b333e;
    font-weight: 700;
    text-align: center;
}
.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}

@media screen and  (max-height : 1100px) and (min-width : 1800px) {
.dateArrow1 {
    color: black;
    /* width: 50px; */
    /* height: 50px; */
    font-size: 50px;
    background-image: url(./Images/Calendar_arrows1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: 50%;
    background-position-y: 55%;
    position: relative;
}
.dateArrow2 {
    color: black;
    /* width: 50px; */
    /* height: 50px; */
    font-size: 50px;
    background-image: url(./Images/Calendar_arrowss2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: 50%;
    background-position-y: 55%;
    position: relative;
}
.dateArrow3 {
    color: black;
    /* width: 50px; */
    /* height: 50px; */
    font-size: 50px;
    background-image: url(./Images/Calendar_arrows3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: 50%;
    background-position-y: 55%;
    position: relative;
}
.dateArrow4 {
    color: black;
    /* width: 50px; */
    /* height: 50px; */
    font-size: 50px;
    background-image: url(./Images/Calendar_arrowss4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: 50%;
    background-position-y: 55%;
    position: relative;
}
.stop-dragging
{
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.numpadPopupResetBtn2 {
    width: 31.4% !important;
    height: 81% !important;
    position: relative !important;
    /* top: -110%; */
    /* background-image: -webkit-linear-gradient(top, #f3b474, #bf6009) !important; */
    float: left !important;
    top: -23% !important;
    left: 67.7%;
    background: #3e3b37 !important;
}

.numpadPopupCloseBtn2 {
    background: #3e3b37 !important;
    width: 33% !important;
    height: 80% !important;
    position: relative !important;
    top: 57% !important;
    /* background-image: -webkit-linear-gradient(top, #b9b6b6, #292b2b) !important; */
    float: left !important;
    right: 32.3% !important;
    left: 0.1%;
}
.numpadPopupSaveBtnText {
    position: relative !important;
    height: 100% !important;
    width: 100% !important;
    font-size: 350% !important;
    top: 12% !important;
}
.numpadPopupCloseBtnText {
    font-size: 350% !important;
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
    top: 11% !important;
}
.numpadPopupResetBtnText {
    font-size: 350% !important;
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
    top: 14% !important;
}
.numpadPopupSaveBtn {
    height: 80% !important;
    width: 33% !important;
    position: relative !important;
    top: 57% !important;
    /* background-image: linear-gradient(to bottom, #81B2E9, #1E55AF) !important; */
    background: #3e3b37;
}
.numpadPopupCloseBtn
{
  width: 33% !important;
   height: 80% !important;
   position: relative !important;
   top: 57% !important;
   background-image: -webkit-linear-gradient(top, #b9b6b6, #292b2b) !important;
   float: left !important;  
   right: 32.3% !important;
}	
	
.numpadPopupResetBtn {
    width: 31.4% !important;
    height: 81% !important;
    position: relative !important;
    /* top: -110%; */ 
    background-image: -webkit-linear-gradient(top, #f3b474, #bf6009) !important;
    float: left !important;
    top: -23% !important;
}	
.leftinfo2 {
    width: 25%; 
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    float: left;
    font-family: Aritadl, sans-serif;
    color: white;
    font-size: 18px;
    text-align: center;
}
.topbox2 {
    display: block;
    height: 120px;
    margin-bottom: 40px;
    padding-top: 15px;
    
    font-size: 50px;
    text-align: left;
}
.infobox2 {
	margin-top: 70px;
	color: #d8dce3;
	font-size: 28px;
	text-align: left;
}
.numpadPanel
{
  margin-top: 329px  !important;
  height: 5; width: 34% !important;
  height: 60% !important;
}
.numpadPanelBody
{
  height: 70% !important;
}
.numpadPanelcontent
{
  padding: unset !important;
  border: none !important;
  height: 78% !important;
  position: relative !important;
}
.numpadCalc100
 {
   height: 100% !important;
 }
.numpadCardh150
 {
   height: 145% !important;
 }
 
.numpadW33p 
 {
   width: 100% !important;
   list-style: none !important;
   position: relative !important;
   height: 30% !important;
 }
.numpadInputQtyTitle {
    font-size: 52px !important;
    position: relative !important;
    FONT-FAMILY: NONE !important;
    padding-top: -5% !important;
    top: 13% !important;
    border: 1px solid black;
    width: 40%;
    height: 73.5%;
    padding-bottom: -;
    background-image: -webkit-linear-gradient(top, #8ea9c1, #3f4141);
    /* background-image: linear-gradient(to bottom, #a2a1a1, #494a4a); */
    color: white;
    padding-left: 14px;
    padding-top: 6px;
    background: #3e3b37;
}
.numpadInputQtyInput1 {
    position: relative !important;
    /* top: -10% !important; */
    left: -1% !important;
    height: 75% !important;
    width: 64% !important;
    border: 1px solid black !important;
    right: 10;
    top: 12%;
    width: 56% !important;
    float: right;
}
.numpadInputQtyInput2
{
  border:none !important;
  position: absolute !important;
  width: 268px !important;
  width: 100% !important;
  height: 100% !important;
  font-size: 90px !important;
  text-align: right !important;
  padding-top: 5% !important;
  padding: unset !important;
}
.textblock2.center2 {
    position: absolute;
    left: 0%;
    top: 35%;
    width: 100%;
    height: 100%;
    font-family: Aritadm, sans-serif;
}
}
.textblock2.left {
	position: absolute;
	top: 50%;
	padding-left: 30px;
	height: unset;
	transform: translate(0, -50%);
	text-align: left;
}
.textblock2.right {
	position: absolute;
	top: 50%;
	left: 100%;
	padding-right: 30px;
	height: unset;
	width: 100%;
	transform: translate(-100%, -50%);
	text-align: right;
}
.textblock2.center {
	position: absolute;
	left: 50%;
	top: 50%;
}
.rightinfo2 {
    width: 70%;
    height: 94%;
    margin-top: 2%;
    margin-right: 2%;
    padding: 30px;
    float: right;
    border-radius: 5px;
    background-color: white;
}
@media screen and (max-width : 1024px) {
.rightinfo2 {
	width: calc(100% - 60px);
	margin-left: 30px;
	float: none;
}
}
.details_button1 {
    position: absolute;
    width: 90%;
    height: 88%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    background: white;
    left: 5.5%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 0px #000000;
    -webkit-box-shadow: 1px 1px 10px 0px #000000;
    -moz-box-shadow: 1px 1px 10px 0px #000000;
    text-shadow: 1px 1px 10px #000000;
    /* border: solid #337FED 1px; */
}

.pd1d4per {
	padding: 1.4%;
}

.popLabelbox {
	display: inline-block;
	width: 228px;
	float: left;
	color: #2b333e;
	font-size: 50px;
	white-space: nowrap;
	text-overflow: unset !important;
}
