.w-inline-block {max-width: 100%;display: inline-block;}


/*modal css */
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.mm-open {
  overflow: hidden;
}
.mm-open .modal {
  overflow-x: hidden; 
  overflow-y: auto;
  
}
.modal.fade .panel {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal.in .panel {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

 .modal .panel {
/*    width: auto;*/
  position: relative;
  margin: 10px;
  background-color: #ffffff;
/*  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1px; */
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}

.mm-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.mm-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.mm-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.mm-scrollbar-measure { position: absolute; top: -9999px; width: 50px; height: 50px; overflow: scroll }

@media (min-width: 768px) {
 .modal .panel {
/*    width: 600px;*/
    margin: 30px auto;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
/** Layout Panel ************************************************************************************/
.panel-group { margin-top: 10px; }
.panel-default, .panel-footer {  }
.panel-default > .panel-heading { padding: 5px 0px 4px 10px; border-color: #e5e5e5; }
.panel-default > .panel-heading + .panel-collapse .panel-body { border-color: #e5e5e5; }
.panel-title { font-size: 14px; font-weight: bold; text-transform: uppercase; line-height: 30px; }
.panel {border-color: #ddd;border-radius: 1px; margin: 10px 0px 0px; /*float: left;*/width: 100%;}
.panel .panel-heading {border-bottom: 1px solid #ddd;background: #ddd;border-top-left-radius: 1px; border-top-right-radius: 1px; padding: 1px 1px 1px 7px; min-height: 23px; height:32px; /*display:inline-block;*/ width:100% }
.panel .panel-heading span i {padding-top: 10px; margin:0 3px 0 4px; display: inline-block; float: left; }
.panel .panel-heading h5 { vertical-align: middle; display: inline-block; float: left; }
.panel .panel-title { line-height: 16px; padding: 8px 0px 2px 8px; }
.panel .panel-body { padding: 0px; }
.panel-toolbar {padding: 0px 0px; min-height: 32px;border-bottom: 1px solid #ddd !important;background: #fafafa !important;}
.panel-footer { padding: 0px;min-height:30px;border-bottom-left-radius: 1px; border-bottom-right-radius: 1px; border-top: 1px solid #ddd !important; }
.panel-primary { border-color: #4A89DC !important}
.panel-primary .panel-heading { background-color: #4A89DC !important; border-color: #4A89DC !important; color: #FFF !important; }
.panel-success { border-color: #70CA63 !important; }
.panel-success .panel-heading { background-color: #70CA63 !important; border-color: #70CA63 !important; color: #FFF !important; }
.panel-info { border-color: #3BAFDA !important; }
.panel-info .panel-heading { background-color: #3BAFDA !important; border-color: #3BAFDA !important; color: #FFF !important; }
.panel-warning { border-color: #F6BB42 !important; }
.panel-warning .panel-heading { background-color: #F6BB42 !important; border-color: #F6BB42 !important; color: #FFF !important; }
.panel-danger { border-color: #E9573F !important; }
.panel-danger .panel-heading { background-color: #E9573F !important; border-color: #E9573F !important; color: #FFF !important; }

.btn-grey {
    width: 100px !important;
    height: 25px !important;
    margin-top: 5px !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
    background-color: #a3a3a3 !important;
    color: white !important;
    line-height: 27px !important;
    text-align: center !important;
}


.w-icon {
    /*float: left;*/
    margin-top: 9px;
    margin-right: 3px;
}
.modal {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif, "Microsoft Yahei";
    line-height: 20px;
}